<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackthehike">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hike"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hike"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackTheHike">
        <activity
            android:name=".Finish"
            android:exported="true" />
        <activity
            android:name=".QRScanner"
            android:exported="true" />
        <activity
            android:name=".HikeGame"
            android:exported="true" />
        <activity
            android:name=".Instruction"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>